
.close {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 18px;
  color: Red;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: Red;
  text-decoration: none;
  opacity: 0.95;
  filter: alpha(opacity=40);
  cursor: pointer;
}