#logout {
    float: right;
}

#extendedSearch {
}

#search {

}

#main-section {
    width: 50% !important;
    float: left;
    left: 25% !important;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.03);
    -moz-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.64);
    box-shadow: 0 2px 2px rgba(164, 31, 26, 0.9);
    z-index: 0;
    padding: 20px 0 15px 0;
}

#reports {
    overflow-y: scroll;
    max-height: 300px;
    width: 100%;
    left: 2px;
    float: left;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.03);
    -moz-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.64);
    box-shadow: 0 2px 2px rgba(164, 31, 26, 0.9);
    z-index: 0;
    padding: 20px 0 15px 0;
}

#notifications {
    width: 22%;
    height: 100% !important;
    right: 2px;
    float: right;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.03);
    -moz-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.64);
    box-shadow: 0 2px 2px rgba(164, 31, 26, 0.9);
    z-index: 0;
    padding: 20px 0 15px 2%;
}

#wantedCategories {
    width: 100%;
    float: left;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.03);
    -moz-box-shadow: 0 2px 2px rgba(165, 104, 161, 0.64);
    box-shadow: 0 2px 2px rgba(164, 31, 26, 0.9);
    z-index: 0;
    padding: 20px 0 15px 0;
}

#left-panel {
    width: 23%;
    float: left;
    z-index: 0;
    padding: 20px 1% 15px 0;
}